.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

.input-contacts {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5rem;
}

button:hover {
  background-color: #0056b3;
}

.submitContactBtn {
  margin-bottom: 3rem;
}

.contactList {
  margin-top: 20px;
}

.paymentPageBtn {
  text-decoration: none;
  margin-top: 20px;
  font-size: 2rem;
  background-color: #28a745;
  color: white;
  padding: 30px 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 4rem;
  top: 25rem; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  
}

.paymentPageBtn:hover {
  background-color: #218838;
}

.contactCard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactName {
  font-weight: bold;
  margin-bottom: 5px;
}

.contactNumber {
  color: #555;
}

.INVNO {
  color: #555;
}

.cardBalance {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
.example {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

div.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
div.example button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

div.example button:hover {
  background: #0056b3;
}

/* Clear floats */
div.example::after {
  content: "";
  clear: both;
  display: table;
}